.container-home {
    max-width: 60%;
    margin: auto;
}
.header {
    display: flex;
    justify-content: center;
    margin: auto;
}
.wrapper-cart {
    display: flex;
    margin: 20px 0;
    border: 1px solid black;
}
.content-cart {
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.title-label {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 2px 5px;

    &:hover {
        border: 1px solid red;
    }
}
.input-card {
    width: 100%;
}
